.promo {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .promo {
    padding-bottom: 94px;
  }
}
.promo__item {
  list-style: none;
  margin: inherit;
  align-items: center;
  padding-left: 0;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .promo__item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .promo__item {
    display: flex;
    flex-wrap: unset;
  }
}
.promo__header {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: inherit;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .promo__header {
    text-align: center;
  }
}
.promo__text {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--color-primary);
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 0px;
}
.promo__textbox {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .promo__textbox {
    width: calc(50% - 15px);
  }
}
.promo__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
}
.promo__icon {
  width: 70px;
  height: 70px;
}
